# ================================
# Python
# ================================
__pycache__/
*.py[cod]
*$py.class

# ================================
# Virtual Environment
# ================================
venv/
.venv/

# ================================
# Environment variables
# ================================
.env

# ================================
# Testes
# ================================
.pytest_cache/
.coverage
htmlcov/

# ================================
# Jupyter
# ================================
.ipynb_checkpoints/

# ================================
# Data files (ajuste conforme o projeto)
# ================================
data/raw/
data/bronze/
data/analytics/


# ================================
# Logs
# ================================
*.log

# ================================
# VS Code
# ================================
.vscode/

# ================================
# OS
# ================================
.DS_Store
Thumbs.db
